<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Game LIFE</h1>
  </div>

  <div data-role="content">


Generation: <span id="generation_num"></span>
<pre id="generation" style="font-family: Courier;">
........................................
........................................
........................................
........................................
........................................
...**..**...***.***..**....**...........
..*...*..*..*...*...*..*..*..*..........
..*...*..*..**..**..***...***...........
..*...*..*..*...*...*.....*.............
...**..**...*...*....**....**......*....
...................................*....
...................................*....
........................................
........................................
........................................
........................................
</pre>

  <button onclick="do_step()" >Step</button>
  <button onclick="do_start()" >Start</button>
  <button onclick="do_stop()" >Stop</button>

  </div>
</div>

<script type="text/javascript">
  var game = new GameLife({empty_cell:'.', live_cell:'*'})
  var field = document.getElementById('generation');
  generation = field.innerHTML;
  game.set_generation(generation);

  var generation = 0;
  var start = false;

  function do_step(){
    game.do_step();
    generation += 1;
    show_generation();
    new_generation = game.screen();
    field.innerHTML = new_generation;

    if (start) {
      setTimeout(do_step, 100);
    }
  }

  function do_start(){
    start = true;
    do_step();
  }

  function do_stop(){
    start = false;
  }

  function show_generation(){
    var generation_num = document.getElementById('generation_num');
    generation_num.innerHTML = generation;
  }

</script>