<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Game LIFE</h1>
  </div>

  <div data-role="content">


Generation: <span id="generation_num"></span>
<pre id="generation" style="font-family: Courier;">
........................................
........................................
........................................
........................................
........................................
...**..**...***.***..**....**...........
..*...*..*..*...*...*..*..*..*..........
..*...*..*..**..**..***...***...........
..*...*..*..*...*...*.....*.............
...**..**...*...*....**....**......*....
...................................*....
...................................*....
........................................
........................................
........................................
........................................
</pre>

  <button onclick="do_step()" >Step</button>
  <button onclick="do_start()" >Start</button>
  <button onclick="do_stop()" >Stop</button>

  </div>
</div>
